<% if flash[:alert] %>
  <div id="modal_alert" class="bookmaker_errors"><%= flash[:alert] %></div>
<% end %>

<% if flash[:notice] %>
  <div id="modal_alert" class="bookmaker_notice"><%= flash[:notice] %></div>
<% end %>