Fórum: #<%= @forum.try(:id) %>

<a href="#" id="link_novo_post">Novo</a>
<input id='forum_id' type="hidden" value="<%= @forum.try(:id) %>">

<div id="novo_post" hidden="true">
  <%= text_area_tag(:post_conteudo, "", size: "60x160") %>
  <a href="#" id="enviar_novo_post">Novo</a>
</div>